body{
  height: 230px;
  width: 290px;
  background-color: #DCF2F1;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  display: flex;
}
.quote-content  {
  display: inline-flex;
  margin: 20px;
  font-size: 22px;
  border-radius: 10px;
  color:#365486 ;
}
